<div id="keyboard">
  <div class="keyboardRow">
    <div class="spacer half"></div>
      <GameButton #keyboardButtons value="Q" (click)="letterSelected('Q')"></GameButton>
      <GameButton #keyboardButtons value="W" (click)="letterSelected('W')"></GameButton>
      <GameButton #keyboardButtons value="E" (click)="letterSelected('E')"></GameButton>
      <GameButton #keyboardButtons value="R" (click)="letterSelected('R')"></GameButton>
      <GameButton #keyboardButtons value="T" (click)="letterSelected('T')"></GameButton>
      <GameButton #keyboardButtons value="Y" (click)="letterSelected('Y')"></GameButton>
      <GameButton #keyboardButtons value="U" (click)="letterSelected('U')"></GameButton>
      <GameButton #keyboardButtons value="I" (click)="letterSelected('I')"></GameButton>
      <GameButton #keyboardButtons value="O" (click)="letterSelected('O')"></GameButton>
      <GameButton #keyboardButtons value="P" (click)="letterSelected('P')"></GameButton>
    <div class="spacer half"></div>
  </div>
  <div class="keyboardRow">
    <div class="spacer half"></div>
      <GameButton #keyboardButtons value="A" (click)="letterSelected('A')"></GameButton>
      <GameButton #keyboardButtons value="S" (click)="letterSelected('S')"></GameButton>
      <GameButton #keyboardButtons value="D" (click)="letterSelected('D')"></GameButton>
      <GameButton #keyboardButtons value="F" (click)="letterSelected('F')"></GameButton>
      <GameButton #keyboardButtons value="G" (click)="letterSelected('G')"></GameButton>
      <GameButton #keyboardButtons value="H" (click)="letterSelected('H')"></GameButton>
      <GameButton #keyboardButtons value="J" (click)="letterSelected('J')"></GameButton>
      <GameButton #keyboardButtons value="K" (click)="letterSelected('K')"></GameButton>
      <GameButton #keyboardButtons value="L" (click)="letterSelected('L')"></GameButton>
    <div class="spacer half"></div>
  </div>
  <div class="keyboardRow">
    <div class="spacer half"></div>
      <button (click)="checkUserGuess()">Enter</button>
      <GameButton #keyboardButtons value="Z" (click)="letterSelected('Z')"></GameButton>
      <GameButton #keyboardButtons value="X" (click)="letterSelected('X')"></GameButton>
      <GameButton #keyboardButtons value="C" (click)="letterSelected('C')"></GameButton>
      <GameButton #keyboardButtons value="V" (click)="letterSelected('V')"></GameButton>
      <GameButton #keyboardButtons value="B" (click)="letterSelected('B')"></GameButton>
      <GameButton #keyboardButtons value="N" (click)="letterSelected('N')"></GameButton>
      <GameButton #keyboardButtons value="M" (click)="letterSelected('M')"></GameButton>
      <button (click)="undo()">
        <i class="fa fa-undo"></i>
      </button>
    <div class="spacer half"></div>
  </div>
</div>

